node_modules
*/node_modules

.env
.env.*
data

.git
.github
.husky
coverage
logs
tests
docs
**/*.test.js
*.log
*.md

.prettierrc
.prettierignore
eslint.config.js
vitest.config.js
jsconfig.json
.release-it.json
